.minicart-contain .link-to span {
    cursor: pointer;
}
.carousel__prev,
.carousel__next {
    background-color: #fff;
    color: #ccc;
    border: 1px solid #ccc;
    transition: border-color .2s linear;
}
.cursor-pointer {
    cursor: pointer;
}
